<ion-header>
  <ion-navbar color="dark">
    <ion-title>เมนูคำขอจ้างงาน</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <button ion-button (click)=" HomeMenu()">
    <ion-icon name="home"></ion-icon> &nbsp; &nbsp; HomeMenu
  </button>

<h1>รายละเอียดผู้ว่าจ้าง</h1>
  <ion-card *ngFor="let item of rowData">
    <ion-item>
      <h2>ชื่อจริง - นามสกุล : {{item.name}} {{item.surname}} </h2>
      <h2>เบอร์โทรศัพท์ : {{item.phone}} </h2>
      <h2>สถานที่ เวลา : {{item.location}} </h2>
      <h2>วันที่ : {{item.date}} </h2>

      <button ion-button color="energy" id="login" class="marginTop" (click)="Accept(item)">
        <ion-icon name="create"></ion-icon>&nbsp; อนุมัติ
      </button>
      <button ion-button color="energy" id="login" class="marginTop" (click)="No(item)">
        <ion-icon name="create"></ion-icon>&nbsp; ปฏิเสธิ
      </button>
    </ion-item>
  </ion-card>

<hr>
<h1>รายการรออนุมัติงานเสร็จสิ้น</h1>
<ion-card *ngFor="let accept of rowAccept">
  <ion-item>
    <h2>ชื่อจริง - นามสกุล : {{accept.name}} {{accept.surname}} </h2>
    <h2>เบอร์โทรศัพท์ : {{accept.phone}} </h2>
    <h2>สถานที่ เวลา : {{accept.location}} </h2>
    <h2>วันที่ : {{accept.date}} </h2>
   

    <button ion-button color="energy" id="login" class="marginTop" (click)="Complete(accept)">
      <ion-icon name="create"></ion-icon>&nbsp; อนุมัติงานเสร็จสิ้น
    </button>
  </ion-item>
</ion-card>


</ion-content>
