page-editabout {
    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .editabout{
        margin-top: 20px;
    }
    .searchdis{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
   
}
